# Comparing the Old and the New.

In [1]:
# Import Library 

import re
import requests
import unicodedata
from bs4 import BeautifulSoup
from pprint import pprint
import numpy as np
from numpy import array
import pandas as pd 
import csv
import pickle
from IPython.display import display
import pickle
from collections import Counter
pd.set_option('display.max_columns', 100)
pd.set_option('display.precision',20)
from IPython.core import display as ICD

# Loading

In [2]:
QorK = {'10-Q': ['0001326801-20-000048',
  '0001326801-19-000069',
  '0001326801-19-000055',
  '0001326801-19-000037',
  '0001326801-18-000067',
  '0001326801-18-000057',
  '0001326801-18-000032',
  '0001326801-17-000053',
  '0001326801-17-000038',
  '0001326801-17-000024',
  '0001326801-16-000087',
  '0001326801-16-000082',
  '0001326801-16-000067',
  '0001326801-15-000032',
  '0001326801-15-000028',
  '0001326801-15-000015'],
 '10-K': ['0001326801-20-000013',
  '0001326801-19-000009',
  '0001326801-18-000009',
  '0001326801-17-000007',
  '0001326801-16-000043',
  '0001326801-15-000006']}

In [3]:
def duplicate_columns( DataF ):
    
    try: 
        DataF.drop(DataF[None], axis =1, inplace=True)
        
    except:
        pass 
    
    new_col = list(DataF.columns)

    clean_col = [str(column).strip() for column in new_col]

    DataF.set_axis(clean_col, axis=1, inplace=True)
    
    duplicates = [col_name for (col_name,freq) in Counter(DataF.columns).items() if freq > 1] 
    print('{} duplicates '.format(len(duplicates)), duplicates, '\n')
    
    for dupli in duplicates: 
#         print(type(DataF[dupli].values))            
        
        try:
            res = DataF[dupli].fillna(0).values.sum()
            DataF['Total {}'.format(dupli)] = res
            DataF.drop(columns =dupli, axis=1, inplace=True)

        except: 
            DataF.drop(columns =dupli, axis=1, inplace=True)

        #DataF.drop(dupli, axis=1, inplace=True)
        
    return DataF

In [4]:
df_list =[]
for k, v in QorK.items():
            
    for i, vv in enumerate(v):
        print('Opening File: ', vv, k)
        with open("{}-{}.csv".format(v[i], k), "rb") as fp:
            file = pickle.load(fp)
            df = file[0]
            
        df = pd.read_pickle( "{}-{}.csv".format(v[i], k))
        
        
        # Add unique identity to row 
        df[0]['Filing/Acc.No.'] = '{}, {}'.format(k, vv)
        
        ICD.display(df[0])
        
        # handle duplicate column name
        df_list.append( duplicate_columns(df[0]) )
        
        #print(df_list[0].shape)
        
        
        abt = pd.concat(df_list, sort=False)

Opening File:  0001326801-20-000048 10-Q

,Quarter,Year,Cash,Marketable securities,Accounts Receivable,Prepaid expenses and other current assets,Total current assets,Property and Equipment,Operating lease right of use assets,Intangible assets,Goodwill,Other assets,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Partners payable,Operating lease liabilities,Accrued expenses and other current liabilities,Deferred Revenue,Total current liabilities,Operating lease liabilities,Other liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity,Filing/Acc.No.
1,Q1,2020,23618000000,36671000000,7289000000,1771000000,69349000000,37127000000,9359000000,838000000,18811000000,2887000000,138371000000,None,None,None,829000000,712000000,835000000,12446000000,247000000,15069000000,9509000000,8489000000,33067000000,None,None,None,46688000000,544000000,59160000000,105304000000,138371000000,"10-Q, 0001326801-20-000048"
2,Q4,2019,19079000000,35776000000,9518000000,1852000000,66225000000,35323000000,9460000000,894000000,18715000000,2759000000,133376000000,None,None,None,1363000000,886000000,800000000,11735000000,269000000,15053000000,9524000000,7745000000,32322000000,None,None,None,45851000000,489000000,55692000000,101054000000,133376000000,"10-Q, 0001326801-20-000048"

2 duplicates  ['Shareholder Equity', 'Operating lease liabilities']

Opening File:  0001326801-19-000069 10-Q

,Quarter,Year,Cash,Marketable securities,Accounts Receivable,Prepaid expenses and other current assets,Total current assets,Property and Equipment,Operating lease right of use assets,Intangible assets,Goodwill,Other assets,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Partners payable,Operating lease liabilities,Accrued expenses and other current liabilities,Deferred Revenue,Total current liabilities,Operating lease liabilities,Other liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity,Filing/Acc.No.
1,Q3,2019,15979000000,36290000000,7673000000,2137000000,62079000000,32284000000,8403000000,853000000,18338000000,2461000000,124418000000,None,None,None,860000000,590000000,776000000,10877000000,225000000,13328000000,8356000000,8735000000,30419000000,None,None,None,45059000000,849000000,49789000000,93999000000,124418000000,"10-Q, 0001326801-19-000069"
2,Q4,2018,10019000000,31095000000,7587000000,1779000000,50480000000,24683000000,None,1294000000,18301000000,2576000000,97334000000,None,None,None,820000000,541000000,None,5509000000,147000000,7017000000,None,6190000000,13207000000,None,None,None,42906000000,760000000,41981000000,84127000000,97334000000,"10-Q, 0001326801-19-000069"

2 duplicates  ['Shareholder Equity', 'Operating lease liabilities']

Opening File:  0001326801-19-000055 10-Q

,Quarter,Year,Cash,Marketable securities,Accounts Receivable,Prepaid expenses and other current assets,Total current assets,Property and Equipment,Operating lease right of use assets,Intangible assets,Goodwill,Other assets,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Partners payable,Operating lease liabilities,Accrued expenses and other current liabilities,Deferred Revenue,Total current liabilities,Operating lease liabilities,Other liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity,Filing/Acc.No.
1,Q2,2019,13877000000,34719000000,7513000000,1852000000,57961000000,29999000000,7272000000,994000000,18334000000,2446000000,117006000000,None,None,None,655000000,560000000,688000000,10878000000,198000000,12979000000,7122000000,8143000000,28244000000,None,None,None,44277000000,483000000,44968000000,88762000000,117006000000,"10-Q, 0001326801-19-000055"
2,Q4,2018,10019000000,31095000000,7587000000,1779000000,50480000000,24683000000,None,1294000000,18301000000,2576000000,97334000000,None,None,None,820000000,541000000,None,5509000000,147000000,7017000000,None,6190000000,13207000000,None,None,None,42906000000,760000000,41981000000,84127000000,97334000000,"10-Q, 0001326801-19-000055"

2 duplicates  ['Shareholder Equity', 'Operating lease liabilities']

Opening File:  0001326801-19-000037 10-Q

,Quarter,Year,Cash,Marketable securities,Accounts Receivable,Prepaid expenses and other current assets,Total current assets,Property and Equipment,Operating lease right of use assets,Intangible assets,Goodwill,Other assets,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Partners payable,Operating lease liabilities,Accrued expenses and other current liabilities,Deferred Revenue,Total current liabilities,Operating lease liabilities,Other liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity,Filing/Acc.No.
1,Q1,2019,11076000000,34167000000,6475000000,1582000000,53300000000,27345000000,6747000000,1150000000,18333000000,2602000000,109477000000,None,None,None,604000000,537000000,645000000,7980000000,142000000,9908000000,6565000000,6488000000,22961000000,None,None,None,43533000000,781000000,43764000000,86516000000,109477000000,"10-Q, 0001326801-19-000037"
2,Q4,2018,10019000000,31095000000,7587000000,1779000000,50480000000,24683000000,None,1294000000,18301000000,2576000000,97334000000,None,None,None,820000000,541000000,None,5509000000,147000000,7017000000,None,6190000000,13207000000,None,None,None,42906000000,760000000,41981000000,84127000000,97334000000,"10-Q, 0001326801-19-000037"

2 duplicates  ['Shareholder Equity', 'Operating lease liabilities']

Opening File:  0001326801-18-000067 10-Q

,Quarter,Year,Cash,Marketable securities,Accounts Receivable,Prepaid expenses and other current assets,Total current assets,Property and Equipment,Intangible assets,Goodwill,Other assets,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Partners payable,Accrued expenses and other current liabilities,Deferred Revenue,Total current liabilities,Other liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity,Filing/Acc.No.
1,Q3,2018,9637000000,31569000000,6058000000,1883000000,49147000000,21112000000,1451000000,18304000000,2438000000,92452000000,None,None,None,590000000,502000000,4255000000,115000000,5462000000,6648000000,12110000000,None,None,None,42352000000,777000000,38767000000,80342000000,92452000000,"10-Q, 0001326801-18-000067"
2,Q4,2017,8079000000,33632000000,5832000000,1020000000,48563000000,13721000000,1884000000,18221000000,2135000000,84524000000,None,None,None,380000000,390000000,2892000000,98000000,3760000000,6417000000,10177000000,None,None,None,40584000000,227000000,33990000000,74347000000,84524000000,"10-Q, 0001326801-18-000067"

1 duplicates  ['Shareholder Equity']

Opening File:  0001326801-18-000057 10-Q

,Quarter,Year,Cash,Marketable securities,Accounts Receivable,Prepaid expenses and other current assets,Total current assets,Property and Equipment,Intangible assets,Goodwill,Other assets,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Partners payable,Accrued expenses and other current liabilities,Deferred Revenue,Total current liabilities,Other liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity,Filing/Acc.No.
1,Q2,2018,11552000000,30757000000,5590000000,1934000000,49833000000,18357000000,1573000000,18263000000,2265000000,90291000000,None,None,None,419000000,440000000,3720000000,91000000,4670000000,6239000000,10909000000,None,None,None,41832000000,687000000,38237000000,79382000000,90291000000,"10-Q, 0001326801-18-000057"
2,Q4,2017,8079000000,33632000000,5832000000,1020000000,48563000000,13721000000,1884000000,18221000000,2135000000,84524000000,None,None,None,380000000,390000000,2892000000,98000000,3760000000,6417000000,10177000000,None,None,None,40584000000,227000000,33990000000,74347000000,84524000000,"10-Q, 0001326801-18-000057"

1 duplicates  ['Shareholder Equity']

Opening File:  0001326801-18-000032 10-Q

,Quarter,Year,Cash,Marketable securities,Accounts Receivable,Prepaid expenses and other current assets,Total current assets,Property and Equipment,Intangible assets,Goodwill,Other assets,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Partners payable,Accrued expenses and other current liabilities,Deferred Revenue,Total current liabilities,Other liabilities,Total liabilities,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity,Filing/Acc.No.
1,Q1,2018,12082000000,31874000000,5115000000,1341000000,50412000000,16211000000,1735000000,18268000000,2319000000,88945000000,None,None,None,593000000,396000000,4003000000,94000000,5086000000,6239000000,11325000000,None,None,41134000000,294000000,36780000000,77620000000,88945000000,"10-Q, 0001326801-18-000032"
2,Q4,2017,8079000000,33632000000,5832000000,1020000000,48563000000,13721000000,1884000000,18221000000,2135000000,84524000000,None,None,None,380000000,390000000,2892000000,98000000,3760000000,6417000000,10177000000,None,None,40584000000,227000000,33990000000,74347000000,84524000000,"10-Q, 0001326801-18-000032"

1 duplicates  ['Shareholder Equity']

Opening File:  0001326801-17-000053 10-Q

,Quarter,Year,Cash,Marketable securities,Accounts Receivable,Prepaid expenses and other current assets,Total current assets,Property and Equipment,Intangible assets,Goodwill,Other assets,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Partners payable,Accrued expenses and other current liabilities,Deferred Revenue,Total current liabilities,Other liabilities,Total liabilities,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity,Filing/Acc.No.
1,Q3,2017,7201000000,31088000000,4424000000,1490000000,44203000000,12158000000,2050000000,18213000000,2374000000,78998000000,None,None,None,383000000,314000000,2503000000,105000000,3305000000,4485000000,7790000000,None,None,40199000000,200000000,31209000000,71208000000,78998000000,"10-Q, 0001326801-17-000053"
2,Q4,2016,8903000000,20546000000,3993000000,959000000,34401000000,8591000000,2535000000,18122000000,1312000000,64961000000,None,None,None,302000000,280000000,2203000000,90000000,2875000000,2892000000,5767000000,None,None,38227000000,703000000,21670000000,59194000000,64961000000,"10-Q, 0001326801-17-000053"

1 duplicates  ['Shareholder Equity']

Opening File:  0001326801-17-000038 10-Q

,Quarter,Year,Cash,Marketable securities,Accounts Receivable,Prepaid expenses and other current assets,Total current assets,Property and Equipment,Intangible assets,Goodwill,Other assets,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Partners payable,Accrued expenses and other current liabilities,Deferred Revenue,Total current liabilities,Other liabilities,Total liabilities,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity,Filing/Acc.No.
1,Q2,2017,6252000000,29200000000,3897000000,1455000000,40804000000,10628000000,2186000000,18129000000,2096000000,73843000000,None,None,None,323000000,278000000,2626000000,88000000,3315000000,4047000000,7362000000,None,None,39291000000,370000000,27560000000,66481000000,73843000000,"10-Q, 0001326801-17-000038"
2,Q4,2016,8903000000,20546000000,3993000000,959000000,34401000000,8591000000,2535000000,18122000000,1312000000,64961000000,None,None,None,302000000,280000000,2203000000,90000000,2875000000,2892000000,5767000000,None,None,38227000000,703000000,21670000000,59194000000,64961000000,"10-Q, 0001326801-17-000038"

1 duplicates  ['Shareholder Equity']

Opening File:  0001326801-17-000024 10-Q

,Quarter,Year,Cash,Marketable securities,Accounts Receivable,Prepaid expenses and other current assets,Total current assets,Property and Equipment,Intangible assets,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Partners payable,Accrued expenses and other current liabilities,Deferred Revenue,Total current liabilities,Other liabilities,Total liabilities,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity,Filing/Acc.No.
1,Q1,2017,7104000000,25202000000,3415000000,1209000000,36930000000,9462000000,2360000000,18126000000,1836000000,68714000000,None,None,170000000,278000000,2400000000,80000000,2928000000,3598000000,6526000000,None,None,38639000000,626000000,24175000000,62188000000,68714000000,"10-Q, 0001326801-17-000024"
2,Q4,2016,8903000000,20546000000,3993000000,959000000,34401000000,8591000000,2535000000,18122000000,1312000000,64961000000,None,None,302000000,280000000,2203000000,90000000,2875000000,2892000000,5767000000,None,None,38227000000,703000000,21670000000,59194000000,64961000000,"10-Q, 0001326801-17-000024"

1 duplicates  ['Shareholder Equity']

Opening File:  0001326801-16-000087 10-Q

,Quarter,Year,Cash,Marketable securities,Accounts Receivable,Prepaid expenses and other current assets,Total current assets,Property and Equipment,Intangible assets,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Partners payable,Accrued expenses and other current liabilities,Deferred Revenue,Current portion of capital lease obligations,Total current liabilities,Capital lease obligations,Other liabilities,Total liabilities,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity,Filing/Acc.No.
1,Q3,2016,6038000000,20102000000,3070000000,1118000000,30328000000,7899000000,2702000000,18085000000,660000000,59674000000,None,None,260000000,239000000,2018000000,78000000,7000000,2595000000,107000000,2964000000,5559000000,None,None,38756000000,372000000,15731000000,54115000000,59674000000,"10-Q, 0001326801-16-000087"
2,Q4,2015,4907000000,13527000000,2559000000,659000000,21652000000,5687000000,3246000000,18026000000,796000000,49407000000,None,None,196000000,217000000,1449000000,56000000,None,1925000000,None,3157000000,5189000000,None,None,34886000000,455000000,9787000000,44218000000,49407000000,"10-Q, 0001326801-16-000087"

1 duplicates  ['Shareholder Equity']

Opening File:  0001326801-16-000082 10-Q

,Quarter,Year,Cash,Marketable securities,Accounts Receivable,Prepaid expenses and other current assets,Total current assets,Property and Equipment,Intangible assets,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Partners payable,Accrued expenses and other current liabilities,Deferred Revenue,Current portion of capital lease obligations,Total current liabilities,Capital lease obligations,Other liabilities,Total liabilities,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity,Filing/Acc.No.
1,Q2,2016,5108000000,18185000000,2801000000,916000000,27010000000,7104000000,2879000000,18043000000,703000000,55739000000,None,None,130000000,232000000,1770000000,79000000,7000000,2211000000,107000000,3145000000,5356000000,None,None,37405000000,374000000,13352000000,50383000000,55739000000,"10-Q, 0001326801-16-000082"
2,Q4,2015,4907000000,13527000000,2559000000,659000000,21652000000,5687000000,3246000000,18026000000,796000000,49407000000,None,None,196000000,217000000,1449000000,56000000,None,1925000000,None,3157000000,5189000000,None,None,34886000000,455000000,9787000000,44218000000,49407000000,"10-Q, 0001326801-16-000082"

1 duplicates  ['Shareholder Equity']

Opening File:  0001326801-16-000067 10-Q

,Quarter,Year,Cash,Marketable securities,Accounts Receivable,Prepaid expenses and other current assets,Total current assets,Property and Equipment,Intangible assets,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Partners payable,Accrued expenses and other current liabilities,Deferred Revenue,Current portion of capital lease obligations,Total current liabilities,Capital lease obligations,Other liabilities,Total liabilities,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity,Filing/Acc.No.
1,Q1,2016,6456000000,14165000000,2348000000,843000000,23812000000,6467000000,3067000000,18029000000,700000000,52075000000,None,None,149000000,216000000,1389000000,55000000,7000000,1809000000,107000000,3116000000,4925000000,None,None,36129000000,276000000,11297000000,47150000000,52075000000,"10-Q, 0001326801-16-000067"
2,Q4,2015,4907000000,13527000000,2559000000,659000000,21652000000,5687000000,3246000000,18026000000,796000000,49407000000,None,None,196000000,217000000,1449000000,56000000,None,1925000000,None,3157000000,5189000000,None,None,34886000000,455000000,9787000000,44218000000,49407000000,"10-Q, 0001326801-16-000067"

1 duplicates  ['Shareholder Equity']

Opening File:  0001326801-15-000032 10-Q

,Quarter,Year,Cash,Marketable securities,Accounts Receivable,Prepaid expenses and other current assets,Total current assets,Property and Equipment,Intangible assets,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Partners payable,Accrued expenses and other current liabilities,Deferred Revenue,Current portion of capital lease obligations,Total current liabilities,Capital lease obligations,Other liabilities,Total liabilities,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity,Filing/Acc.No.
1,Q3,2015,4308000000,11526000000,2010000000,1295000000,19139000000,5335000000,3437000000,18024000000,534000000,46469000000,None,None,149000000,241000000,1338000000,47000000,17000000,1792000000,109000000,3148000000,5049000000,None,None,33574000000,380000000,8226000000,41420000000,46469000000,"10-Q, 0001326801-15-000032"
2,Q4,2014,4315000000,6884000000,1678000000,793000000,13670000000,3967000000,3929000000,17981000000,637000000,40184000000,None,None,176000000,202000000,866000000,66000000,114000000,1424000000,119000000,2545000000,4088000000,None,None,30225000000,228000000,6099000000,36096000000,40184000000,"10-Q, 0001326801-15-000032"

1 duplicates  ['Shareholder Equity']

Opening File:  0001326801-15-000028 10-Q

,Quarter,Year,Cash,Marketable securities,Accounts Receivable,Prepaid expenses and other current assets,Total current assets,Property and Equipment,Intangible assets,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Partners payable,Accrued expenses and other current liabilities,Deferred Revenue,Current portion of capital lease obligations,Total current liabilities,Capital lease obligations,Other liabilities,Total liabilities,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity,Filing/Acc.No.
1,Q2,2015,5123000000,9002000000,1815000000,1011000000,16951000000,4955000000,3605000000,18025000000,594000000,44130000000,None,None,139000000,182000000,1472000000,49000000,39000000,1881000000,110000000,2687000000,4678000000,None,None,32479000000,357000000,7330000000,39452000000,44130000000,"10-Q, 0001326801-15-000028"
2,Q4,2014,4315000000,6884000000,1678000000,793000000,13670000000,3967000000,3929000000,17981000000,637000000,40184000000,None,None,176000000,202000000,866000000,66000000,114000000,1424000000,119000000,2545000000,4088000000,None,None,30225000000,228000000,6099000000,36096000000,40184000000,"10-Q, 0001326801-15-000028"

1 duplicates  ['Shareholder Equity']

Opening File:  0001326801-15-000015 10-Q

,Quarter,Year,Cash,Marketable securities,Accounts Receivable,Prepaid expenses and other current assets,Total current assets,Property and Equipment,Intangible assets,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Partners payable,Accrued expenses and other current liabilities,Deferred Revenue,Current portion of capital lease obligations,Total current liabilities,Capital lease obligations,Other liabilities,Total liabilities,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity,Filing/Acc.No.
1,Q1,2015,3419000000,8994000000,1508000000,1083000000,15004000000,4619000000,3774000000,18005000000,605000000,42007000000,None,None,129000000,189000000,1300000000,55000000,73000000,1746000000,113000000,2647000000,4506000000,None,None,31337000000,447000000,6611000000,37501000000,42007000000,"10-Q, 0001326801-15-000015"
2,Q4,2014,4315000000,6884000000,1678000000,793000000,13670000000,3967000000,3929000000,17981000000,637000000,40184000000,None,None,176000000,202000000,866000000,66000000,114000000,1424000000,119000000,2545000000,4088000000,None,None,30225000000,228000000,6099000000,36096000000,40184000000,"10-Q, 0001326801-15-000015"

1 duplicates  ['Shareholder Equity']

Opening File:  0001326801-20-000013 10-K

,Quarter,Year,Cash,Marketable securities,Accounts Receivable,Prepaid expenses and other current assets,Total current assets,Property and Equipment,Operating lease right of use assets,Intangible assets,Goodwill,Other assets,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Partners payable,Operating lease liabilities,Accrued expenses and other current liabilities,Deferred Revenue,Total current liabilities,Operating lease liabilities,Other liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity,Filing/Acc.No.
1,Q4,2019,19079000000,35776000000,9518000000,1852000000,66225000000,35323000000,9460000000,894000000,18715000000,2759000000,133376000000,None,None,None,1363000000,886000000,800000000,11735000000,269000000,15053000000,9524000000,7745000000,32322000000,None,None,None,45851000000,489000000,55692000000,101054000000,133376000000,"10-K, 0001326801-20-000013"
2,None,2018,10019000000,31095000000,7587000000,1779000000,50480000000,24683000000,None,1294000000,18301000000,2576000000,97334000000,None,None,None,820000000,541000000,None,5509000000,147000000,7017000000,None,6190000000,13207000000,None,None,None,42906000000,760000000,41981000000,84127000000,97334000000,"10-K, 0001326801-20-000013"

2 duplicates  ['Shareholder Equity', 'Operating lease liabilities']

Opening File:  0001326801-19-000009 10-K

,Quarter,Year,Cash,Marketable securities,Accounts Receivable,Prepaid expenses and other current assets,Total current assets,Property and Equipment,Intangible assets,Goodwill,Other assets,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Partners payable,Accrued expenses and other current liabilities,Deferred Revenue,Total current liabilities,Other liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity,Filing/Acc.No.
1,Q4,2018,10019000000,31095000000,7587000000,1779000000,50480000000,24683000000,1294000000,18301000000,2576000000,97334000000,None,None,None,820000000,541000000,5509000000,147000000,7017000000,6190000000,13207000000,None,None,None,42906000000,760000000,41981000000,84127000000,97334000000,"10-K, 0001326801-19-000009"
2,None,2017,8079000000,33632000000,5832000000,1020000000,48563000000,13721000000,1884000000,18221000000,2135000000,84524000000,None,None,None,380000000,390000000,2892000000,98000000,3760000000,6417000000,10177000000,None,None,None,40584000000,227000000,33990000000,74347000000,84524000000,"10-K, 0001326801-19-000009"

1 duplicates  ['Shareholder Equity']

Opening File:  0001326801-18-000009 10-K

,Quarter,Year,Cash,Marketable securities,Accounts Receivable,Prepaid expenses and other current assets,Total current assets,Property and Equipment,Intangible assets,Goodwill,Other assets,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Partners payable,Accrued expenses and other current liabilities,Deferred Revenue,Total current liabilities,Other liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity,Filing/Acc.No.
1,Q4,2017,8079000000,33632000000,5832000000,1020000000,48563000000,13721000000,1884000000,18221000000,2135000000,84524000000,None,None,None,380000000,390000000,2892000000,98000000,3760000000,6417000000,10177000000,None,None,None,40584000000,227000000,33990000000,74347000000,84524000000,"10-K, 0001326801-18-000009"
2,None,2016,8903000000,20546000000,3993000000,959000000,34401000000,8591000000,2535000000,18122000000,1312000000,64961000000,None,None,None,302000000,280000000,2203000000,90000000,2875000000,2892000000,5767000000,None,None,None,38227000000,703000000,21670000000,59194000000,64961000000,"10-K, 0001326801-18-000009"

1 duplicates  ['Shareholder Equity']

Opening File:  0001326801-17-000007 10-K

,Quarter,Year,Cash,Marketable securities,Accounts Receivable,Prepaid expenses and other current assets,Total current assets,Property and Equipment,Intangible assets,Goodwill,Other assets,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Partners payable,Accrued expenses and other current liabilities,Deferred Revenue,Current portion of capital lease obligations,Total current liabilities,Capital lease obligations,Other liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity,Filing/Acc.No.
1,Q4,2016,8903000000,20546000000,3993000000,959000000,34401000000,8591000000,2535000000,18122000000,1312000000,64961000000,None,None,None,302000000,280000000,2203000000,90000000,7000000,2875000000,107000000,2892000000,5767000000,None,None,None,38227000000,703000000,21670000000,59194000000,64961000000,"10-K, 0001326801-17-000007"
2,None,2015,4907000000,13527000000,2559000000,659000000,21652000000,5687000000,3246000000,18026000000,796000000,49407000000,None,None,None,196000000,217000000,1449000000,56000000,None,1925000000,None,3157000000,5189000000,None,None,None,34886000000,455000000,9787000000,44218000000,49407000000,"10-K, 0001326801-17-000007"

1 duplicates  ['Shareholder Equity']

Opening File:  0001326801-16-000043 10-K

,Quarter,Year,Cash,Marketable securities,Accounts Receivable,Prepaid expenses and other current assets,Total current assets,Property and Equipment,Intangible assets,Goodwill,Other assets,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Partners payable,Accrued expenses and other current liabilities,Deferred Revenue,Current portion of capital lease obligations,Total current liabilities,Capital lease obligations,Other liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity,Filing/Acc.No.
1,Q4,2015,4907000000,13527000000,2559000000,659000000,21652000000,5687000000,3246000000,18026000000,796000000,49407000000,None,None,None,196000000,217000000,1449000000,56000000,7000000,1925000000,107000000,3157000000,5189000000,None,None,None,34886000000,455000000,9787000000,44218000000,49407000000,"10-K, 0001326801-16-000043"
2,None,2014,4315000000,6884000000,1678000000,513000000,13390000000,3967000000,3929000000,17981000000,699000000,39966000000,None,None,None,176000000,202000000,866000000,66000000,114000000,1424000000,119000000,2327000000,3870000000,None,None,None,30225000000,228000000,6099000000,36096000000,39966000000,"10-K, 0001326801-16-000043"

1 duplicates  ['Shareholder Equity']

Opening File:  0001326801-15-000006 10-K

,Quarter,Year,Cash,Marketable securities,Accounts Receivable,Prepaid expenses and other current assets,Total current assets,Property and Equipment,Intangible assets,Goodwill,Other assets,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Partners payable,Accrued expenses and other current liabilities,Deferred Revenue,Current portion of capital lease obligations,Total current liabilities,Capital lease obligations,Other liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive,Retained Earnings,Shareholder Equity,Total liabilities and equity,Filing/Acc.No.
1,Q4,2014,4315000000,6884000000,1678000000,793000000,13670000000,3967000000,3929000000,17981000000,637000000,40184000000,None,None,None,176000000,202000000,866000000,66000000,114000000,1424000000,119000000,2545000000,4088000000,None,None,None,30225000000,228000000,6099000000,36096000000,40184000000,"10-K, 0001326801-15-000006"
2,None,2013,3323000000,8126000000,1109000000,512000000,13070000000,2882000000,883000000,839000000,221000000,17895000000,None,None,None,87000000,181000000,555000000,38000000,239000000,1100000000,237000000,1088000000,2425000000,None,None,None,12297000000,14000000,3159000000,15470000000,17895000000,"10-K, 0001326801-15-000006"

1 duplicates  ['Shareholder Equity']

In [5]:
abt.drop(index= 2, axis=0, inplace=True)

In [6]:
abt.reset_index(drop=True, inplace=True)

In [7]:
abt

,Quarter,Year,Cash,Marketable securities,Accounts Receivable,Prepaid expenses and other current assets,Total current assets,Property and Equipment,Operating lease right of use assets,Intangible assets,Goodwill,Other assets,Total assets,Current liabilities,Accounts payable,Partners payable,Accrued expenses and other current liabilities,Deferred Revenue,Total current liabilities,Other liabilities,Total liabilities,Commitments and contingencies,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Total liabilities and equity,Filing/Acc.No.,Total Shareholder Equity,Total Operating lease liabilities,Current portion of capital lease obligations,Capital lease obligations,Accumulated other comprehensive
0,Q1,2020,23618000000,36671000000,7289000000,1771000000,69349000000,37127000000,9359000000,838000000,18811000000,2887000000,138371000000,None,829000000,712000000,12446000000,247000000,15069000000,8489000000,33067000000,None,None,46688000000,544000000,59160000000,138371000000,"10-Q, 0001326801-20-000048",206358000000,20668000000.0,NaN,NaN,NaN
1,Q3,2019,15979000000,36290000000,7673000000,2137000000,62079000000,32284000000,8403000000,853000000,18338000000,2461000000,124418000000,None,860000000,590000000,10877000000,225000000,13328000000,8735000000,30419000000,None,None,45059000000,849000000,49789000000,124418000000,"10-Q, 0001326801-19-000069",178126000000,9132000000.0,NaN,NaN,NaN
2,Q2,2019,13877000000,34719000000,7513000000,1852000000,57961000000,29999000000,7272000000,994000000,18334000000,2446000000,117006000000,None,655000000,560000000,10878000000,198000000,12979000000,8143000000,28244000000,None,None,44277000000,483000000,44968000000,117006000000,"10-Q, 0001326801-19-000055",172889000000,7810000000.0,NaN,NaN,NaN
3,Q1,2019,11076000000,34167000000,6475000000,1582000000,53300000000,27345000000,6747000000,1150000000,18333000000,2602000000,109477000000,None,604000000,537000000,7980000000,142000000,9908000000,6488000000,22961000000,None,None,43533000000,781000000,43764000000,109477000000,"10-Q, 0001326801-19-000037",170643000000,7210000000.0,NaN,NaN,NaN
4,Q3,2018,9637000000,31569000000,6058000000,1883000000,49147000000,21112000000,NaN,1451000000,18304000000,2438000000,92452000000,None,590000000,502000000,4255000000,115000000,5462000000,6648000000,12110000000,None,None,42352000000,777000000,38767000000,92452000000,"10-Q, 0001326801-18-000067",154689000000,NaN,NaN,NaN,NaN
5,Q2,2018,11552000000,30757000000,5590000000,1934000000,49833000000,18357000000,NaN,1573000000,18263000000,2265000000,90291000000,None,419000000,440000000,3720000000,91000000,4670000000,6239000000,10909000000,None,None,41832000000,687000000,38237000000,90291000000,"10-Q, 0001326801-18-000057",153729000000,NaN,NaN,NaN,NaN
6,Q1,2018,12082000000,31874000000,5115000000,1341000000,50412000000,16211000000,NaN,1735000000,18268000000,2319000000,88945000000,None,593000000,396000000,4003000000,94000000,5086000000,6239000000,11325000000,NaN,None,41134000000,294000000,36780000000,88945000000,"10-Q, 0001326801-18-000032",151967000000,NaN,NaN,NaN,NaN
7,Q3,2017,7201000000,31088000000,4424000000,1490000000,44203000000,12158000000,NaN,2050000000,18213000000,2374000000,78998000000,None,383000000,314000000,2503000000,105000000,3305000000,4485000000,7790000000,NaN,None,40199000000,200000000,31209000000,78998000000,"10-Q, 0001326801-17-000053",130402000000,NaN,NaN,NaN,NaN
8,Q2,2017,6252000000,29200000000,3897000000,1455000000,40804000000,10628000000,NaN,2186000000,18129000000,2096000000,73843000000,None,323000000,278000000,2626000000,88000000,3315000000,4047000000,7362000000,NaN,None,39291000000,370000000,27560000000,73843000000,"10-Q, 0001326801-17-000038",125675000000,NaN,NaN,NaN,NaN
9,Q1,2017,7104000000,25202000000,3415000000,1209000000,36930000000,9462000000,NaN,2360000000,18126000000,1836000000,68714000000,None,170000000,278000000,2400000000,80000000,2928000000,3598000000,6526000000,NaN,None,38639000000,626000000,24175000000,68714000000,"10-Q, 0001326801-17-000024",121382000000,NaN,NaN,NaN,NaN
10,Q3,2016,6038000000,20102000000,3070000000,1118000000,30328000000,7899000000,NaN,2702000000,18085000000,660000000,59674000000,None,260000000,239000000,2018000000,78000000,2595000000,2964000000,5559000000,NaN,None,38756000000,372000000,15731000000,59674000000,"10-Q, 0001326801-16-000087",98333000000,NaN,7000000,107000000,NaN
11,Q2,2016,5108000000,18185000000,2801000000,916000000,27010000000,7104000000,NaN,2879000000,18043000000,703000000,55739000000,None,130000000,232000000,1770000000,79000000,2211000000,3145000000,5356000000,NaN,None,37405000000,374000000,13352000000,55739000000,"10-Q, 0001326801-16-000082",94601000000,NaN,7000000,107000000,NaN
12,Q1,2016,6456000000,14165000000,2348000000,843000000,23812000000,6467000000,NaN,3067000000,18029000000,700000000,52075000000,None,149000000,216000000,1389000000,55000000,1809000000,3116000000,4925000000,NaN,None,36129000000,276000000,11297000000,52075000000,"10-Q, 0001326801-16-000067",91368000000,NaN,7000000,107000000,NaN
13,Q3,2015,4308000000,11526000000,2010000000,1295000000,19139000000,5335000000,NaN,3437000000,18024000000,534000000,46469000000,None,149000000,241000000,1338000000,47000000,1792000000,3148000000,5049000000,NaN,None,33574000000,380000000,8226000000,46469000000,"10-Q, 0001326801-15-000032",77516000000,NaN,17000000,109000000,NaN
14,Q2,2015,5123000000,9002000000,1815000000,1011000000,16951000000,4955000000,NaN,3605000000,18025000000,594000000,44130000000,None,139000000,182000000,1472000000,49000000,1881000000,2687000000,4678000000,NaN,None,32479000000,357000000,7330000000,44130000000,"10-Q, 0001326801-15-000028",75548000000,NaN,39000000,110000000,NaN
15,Q1,2015,3419000000,8994000000,1508000000,1083000000,15004000000,4619000000,NaN,3774000000,18005000000,605000000,42007000000,None,129000000,189000000,1300000000,55000000,1746000000,2647000000,4506000000,NaN,None,31337000000,447000000,6611000000,42007000000,"10-Q, 0001326801-15-000015",73597000000,NaN,73000000,113000000,NaN
16,Q4,2019,19079000000,35776000000,9518000000,1852000000,66225000000,35323000000,9460000000,894000000,18715000000,2759000000,133376000000,None,1363000000,886000000,11735000000,269000000,15053000000,7745000000,32322000000,None,None,45851000000,489000000,55692000000,133376000000,"10-K, 0001326801-20-000013",185181000000,10324000000.0,NaN,NaN,NaN
17,Q4,2018,10019000000,31095000000,7587000000,1779000000,50480000000,24683000000,NaN,1294000000,18301000000,2576000000,97334000000,None,820000000,541000000,5509000000,147000000,7017000000,6190000000,13207000000,None,None,42906000000,760000000,41981000000,97334000000,"10-K, 0001326801-19-000009",158474000000,NaN,NaN,NaN,NaN
18,Q4,2017,8079000000,33632000000,5832000000,1020000000,48563000000,13721000000,NaN,1884000000,18221000000,2135000000,84524000000,None,380000000,390000000,2892000000,98000000,3760000000,6417000000,10177000000,None,None,40584000000,227000000,33990000000,84524000000,"10-K, 0001326801-18-000009",133541000000,NaN,NaN,NaN,NaN
19,Q4,2016,8903000000,20546000000,3993000000,959000000,34401000000,8591000000,NaN,2535000000,18122000000,1312000000,64961000000,None,302000000,280000000,2203000000,90000000,2875000000,2892000000,5767000000,None,None,38227000000,703000000,21670000000,64961000000,"10-K, 0001326801-17-000007",103412000000,NaN,7000000,107000000,NaN
20,Q4,2015,4907000000,13527000000,2559000000,659000000,21652000000,5687000000,NaN,3246000000,18026000000,796000000,49407000000,None,196000000,217000000,1449000000,56000000,1925000000,3157000000,5189000000,None,None,34886000000,455000000,9787000000,49407000000,"10-K, 0001326801-16-000043",80314000000,NaN,7000000,107000000,NaN
21,Q4,2014,4315000000,6884000000,1678000000,793000000,13670000000,3967000000,NaN,3929000000,17981000000,637000000,40184000000,None,176000000,202000000,866000000,66000000,1424000000,2545000000,4088000000,None,None,30225000000,NaN,6099000000,40184000000,"10-K, 0001326801-15-000006",51566000000,NaN,114000000,119000000,228000000

## Exploring the ABT

In [8]:
# All column names are unique, the duplicate column function did its job.
original_col = list(abt.columns)
len(original_col) == len(set(original_col))

True

## After running the del_empty_col one-time we get a list of columns that will be deleted.

In [9]:
new_col =['Quarter', 'Year', 'Cash', 'Marketable securities',
       'Accounts Receivable', 'Prepaid expenses and other current assets',
       'Total current assets', 'Property and Equipment', 'Intangible assets',
       'Goodwill', 'Other assets', 'Total assets', 'Accounts payable',
       'Partners payable', 'Accrued expenses and other current liabilities',
       'Deferred Revenue', 'Total current liabilities', 'Other liabilities',
       'Total liabilities', 'Additional paid in capital',
       'Accumulated other comprehensive loss', 'Retained Earnings',
       'Total liabilities and equity', 'Filing/Acc.No.']

### But if left unattended, a lot of data will be unused.

In [10]:
### Following was deleted using .isna().astype(int).mean() > 0.1
del_col = set(original_col) - set(new_col)
print(f'{len(del_col)} of {len(original_col)} columns was deleted.')
print(del_col)

9 of 33 columns was deleted.
{'Commitments and contingencies', 'Capital lease obligations', 'Common Stock', 'Accumulated other comprehensive', 'Total Shareholder Equity', 'Total Operating lease liabilities', 'Current portion of capital lease obligations', 'Operating lease right of use assets', 'Current liabilities'}

### Accumulated Other Comprehensive loss

In [11]:
abt['Accumulated Other Comprehensive loss'] = abt[['Accumulated other comprehensive loss', 'Accumulated other comprehensive']].sum(axis=1)
abt.drop(['Operating lease right of use assets', 'Accumulated other comprehensive loss', 'Total Operating lease liabilities', 'Current portion of capital lease obligations', 'Capital lease obligations', 'Accumulated other comprehensive'], axis=1, inplace=True)

In [12]:
abt['Accumulated Other Comprehensive loss']

0     544000000.0
1     849000000.0
2     483000000.0
3     781000000.0
4     777000000.0
5     687000000.0
6     294000000.0
7     200000000.0
8     370000000.0
9     626000000.0
10    372000000.0
11    374000000.0
12    276000000.0
13    380000000.0
14    357000000.0
15    447000000.0
16    489000000.0
17    760000000.0
18    227000000.0
19    703000000.0
20    455000000.0
21    228000000.0
Name: Accumulated Other Comprehensive loss, dtype: float64

In [ ]:
# Testing
fixed_assets = ['Year', 'Quarter','Operating lease right of use assets', 'Accumulated other comprehensive loss', 'Total Operating lease liabilities', 'Current portion of capital lease obligations', 'Capital lease obligations', 'Accumulated other comprehensive']
#abt[fixed_assets]

In [ ]:
# What is the percentage of nulls in a given column.
count = 1
shares = []
for columns in abt:
    
    ratio = abt[columns].notna().astype(int).mean()
    if  1 > ratio > -1:
        print(f' {count}.  "{columns}" ')
        print( ratio )
        print()
        count+=1
        shares.append(columns)
        
print('Length of Shares: ',len(shares) )
print( shares )

In [ ]:
abt.columns

In [ ]:
len(abt.columns)

##  Deleting columns with null values above a certain threshold.

In [ ]:
def del_empty_col( df ):
    
    for columns in df:
        
        df.replace(0, np.nan, inplace=True)
        
        if df[columns].isna().astype(int).mean() > 0.8:
            df.drop([columns], inplace=True, axis=1)
            
    df.fillna(0)
        
    return df

In [ ]:
del_empty_col(abt).fillna(0)

In [ ]:
# Just for checking.
def checking_duplicate_columns( DataF ):
    
    duplicates = [k for (k,v) in Counter(DataF.columns).items() if v > 1] 

    
    print('Shape of df: ', DataF.shape )
    return duplicates

In [ ]:
checking_duplicate_columns(abt)

In [ ]:
abt.columns

In [ ]:
abt.to_csv('abt-Facebook.csv', index=False)

https://stackoverflow.com/questions/50950614/converting-column-into-multi-index-column